.header {
    display: flex;
    padding: 10px;
    background: rgb(29, 30, 34);
    background: linear-gradient(99deg, rgba(29, 30, 34, 1) 0%, rgba(4, 58, 197, 1) 100%);
    align-items: center;
}

.header > img {
    height: 75px;
    margin-right: 200px;
}

.header > input {
    height: 30px;
    width: 450px;
    padding: 10px;
    margin-right: 20px;
    border: 1px solid grey;
    border-radius: 5px;
}
.header > div {
    background-color: orange;
    height: 30px;
    display: flex;
    padding: 10px;
    align-items: center;
    font-weight: bolder;
    border-radius: 10px;

}